body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #6e5e5d;
    color: #ffcece;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #302325;
}