body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #6e5e5d;
    color: #a79f96;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #302325;
    color: #ffcece;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border-color: #503f42;
    border-style: solid;
    border-width: thick 10px;
    border-block-width: 10px;
   
}

section {
    padding: 30px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #1f1b1c;
    border-radius: 20px;
    box-shadow: 0 10px 10px #00000081 ;
}
