body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #1f1b1c;
    color: #1b0f02;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #302325;
    color: #ffcece;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border-color: #503f42;
    border-style: solid;
    border-width: thick 10px;
    border-block-width: 10px;
   
}

section {
    padding: 30px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #b8a8a7;
    border-radius: 20px;
    box-shadow: 0 10px 10px #00000081 ;
}

h2 {
    color: #440702;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #302325;
    color: #b8a8a7;
}

.social-icon {
    width: 32px;
    height: 32px;
    margin: 0 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border-radius: 50%;
    background-color: #b8a8a7;
    padding: 10px;
}

.social-icon:hover {
    transform: scale(1.5);
    background-color: #faad8a;
}